<h1>The Question</h1>

<form class="form" action="/answer" method="get">
  <div id="ask">Ask your question</div>
<div>
  <label for="name">Name of person asking the question:</label>
  <input type="text" id="namer">
</div>
<div>
  <label for="question">Ask your stupid question:</label>
  <textarea name="question"></textarea>
</div>
<div class="button">
  <button type="submit">Ask away!</button>
</div>
</form>


